{% extends 'base.html' %}

{% block head %}
<title> Posts </title>
{% endblock %}



{% block body %}

<div class="jumbotron">
    <div class="container">
        <hr>
        <h1>Add Post:</h1>
        <form action="/posts" method="POST" id="usrform">
            <h3>Title:</h3><br> <input type="text" name="title" id="title">
            <br>
            <h3>Post:</h3><br>
            <textarea name="content" id="content" form="usrform" rows="4" cols="50"></textarea>
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Post">
        </form>
        <hr>
    </div>
</div>
{% if posts %}

<div class="container" id="all-posts">
    <h1>Posts</h1>
    <div class="row">
        {% for post in posts %}
        <div id="post" style="background-color:khaki; padding: 10px;">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
            <a class="btn btn-danger" href='posts/delete/{{post.id}}'>Delete</a>
            <a class="btn btn-warning" href='posts/edit/{{post.id}}'>Edit</a>
        </div>
        <hr>
        {% endfor %}
</div>
{% endif %}

    <footer>
      <p>© Jatin Kumar Jain</p>
    </footer>
  </div>

{% endblock %}
